#Практическое упражнение

1. Создайте репозиторий в своем Github.
2. Склонируйте репозиторий на локальный компьютер для дальнейшей работы.
3. Скачайте данный ноутбук и выполните задание (можно в Colab).
4. Положите готовый ноутбук в проект и закомитьте изменения (в т.ч. залейте изменения в репозиторий Github).

###Задача 1
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`. 

1) выведите количество символов

In [ ]:
DNA_seq = "aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc"
print(len(DNA_seq))

68

2) выведите символы в последовательности начиная с 2 по 15

In [ ]:
print(DNA_seq[1:15])

agaatgtatatgtc

3) выведите последовательность в обратном порядке

In [ ]:
print(DNA_seq[::-1])

cgcgaaattggcgggtaactcataatgatgaatcagtggtccgattgcacagtctgtatatgtaagaa

4) найдите количество вхождения каждого нуклеотида в последовательность

**Версия 002**

In [ ]:
kol_a = DNA_seq.count('a') 
kol_g = DNA_seq.count('g') 
kol_t = DNA_seq.count('t') 
kol_c = DNA_seq.count('c') 

print("В нашей последовательности:" + " A:" + str(kol_a) + "  G:" + str(kol_g) + "  T:" + str(kol_t) + "  C:" + str(kol_c))

В нашей последовательности: A:21  G:18  T:18  C:11

**Версия 001**

In [ ]:
kol_a = 0
kol_g = 0
kol_t = 0
kol_c = 0

for i in range(0, len(DNA_seq)):
    if DNA_seq[i] == "a": 
       kol_a += 1
    elif DNA_seq[i] == "g": 
       kol_g += 1
    elif DNA_seq[i] == "t": 
       kol_t += 1
    elif DNA_seq[i] == "c": 
       kol_c += 1

print("В нашей последовательности:" + " A:" + str(kol_a) + "  G:" + str(kol_g) + "  T:" + str(kol_t) + "  C:" + str(kol_c))

В нашей последовательности: A:21  G:18  T:18  C:11

###Задача 2
Имеется последовательность кодирующей цепочки ДНК `acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat`.

1) Создайте словарь транскрипции нуклеотидов ДНК в РНК

**Версия 002**

In [ ]:
d_nuc_DNA = {'a': 'U', 't': 'A', 'g': 'C', 'c': 'G'}

**Версия 001**

In [ ]:
DNA_seq_a = DNA_seq.replace("a", "U")
DNA_seq_t = DNA_seq_a.replace("t", "A")
DNA_seq_g = DNA_seq_t.replace("c", "G")
DNA_seq_c = DNA_seq_g.replace("g", "C")

RNA = DNA_seq_c

2) Найдите последовательность РНК, которая образуется в результате транскрипции

**Версия 002**

In [ ]:
DNA_SeQ = 'acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat'

RNA = ''
for nuc in DNA_SeQ: 
   RNA += d_nuc_DNA[nuc]

print(RNA)

UGCAAUUAAUCGUCGACUGCCUCAUUAGGGGUUUGGACCUCUGCUACAUA

**Версия 001**

In [ ]:
print(RNA)

UUCUUACAUAUACAGACUGUGCAAUCGGACCACUGAUUCAUCAUUAUGAGUUACCCGCCAAUUUCGCG

###Задача 3
Выведите все четные числа из списка 

```
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
```

в том же порядке, прекратите вывод, как только любое из чисел будет меньше 237

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
for i in numbers:
  if i < 237:
    break
  elif i % 2 == 0: 
    print(i)

386
462

###Задача 4
Напишите программу, которая удалит дубликаты из списка

In [ ]:
test_list=['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go', 'Eeny', 'meeny', 'miney', 'moe']

In [ ]:
def f(list):
    new_list = []
    for i in list:
        if i not in new_list:
            new_list.append(i)
    return new_list

print(f(test_list))

['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go']

###Задача 5
Сложите значения в словарях, согласно ключам

```
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

Ожидаемый результат: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
```

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

**Версия 001**

In [ ]:
def f(d1,d2):
     d3 = {}
     a3 = d1.get("a") + d2.get("a")
     b3 = d1.get("b") + d2.get("b")
     d3 = {"a": a3, "b": b3}
     d2.update(d1)
     d2.update(d3)
     return d2 

print(f(d1, d2))

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

**Версия 002**

Промежуточная версия 002

In [ ]:
list_kol = []

for i in ['a', 'b', 'c', 'd']:
    if i in d1 and i in d2:
      list_kol.append(d1.get(i) + d2.get(i))
    if i in d1 and i in d2:
      list_kol.append(d1.get(i))
    if i in d1 == False and i in d2 == True:
      list_kol.append(d2.get(i))

Финальная версия 002

In [ ]:
d3 = {}
      
keys = set(list(d1.keys()) + list(d2.keys()))
for key in keys:
    if key in d1 and key in d2:
      d3[key] = d1[key] + d2[key]
    elif key in d1:
      d3[key] = d1[key] 
    else:
      d3[key] = d2[key]
      
print(d3)

{'a': 400, 'd': 400, 'c': 300, 'b': 400}

###Задача 6
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`.

Напишите функцию, которая будет принимать один параметр на вход - последовательность ДНК в виде строки, и возвращать количество вхождения каждого нуклеотида в нее в виде словаря.

**Версия 002**

In [ ]:
DNA_Seq = "aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc"

def f(list):
    new_list = []
    kol_a = DNA_seq.count('a') 
    kol_g = DNA_seq.count('g') 
    kol_t = DNA_seq.count('t') 
    kol_c = DNA_seq.count('c') 
    new_list.append(kol_a)
    new_list.append(kol_g)
    new_list.append(kol_t)
    new_list.append(kol_c)
    return new_list

print("В нашей последовательности количесвто A, G, T, C равно:")
print(f(DNA_Seq))

В нашей последовательности количесвто A, G, T, C равно:
[21, 18, 18, 11]

**Версия 001**

In [ ]:
DNA_Seq = "aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc"

def f(list):
    new_list = []
    kol_a = 0 
    kol_g = 0
    kol_t = 0
    kol_c = 0
    for i in range(0, len(DNA_seq)):
            if DNA_seq[i] == "a": 
               kol_a += 1
            elif DNA_seq[i] == "g": 
               kol_g += 1
            elif DNA_seq[i] == "t": 
               kol_t += 1
            elif DNA_seq[i] == "c": 
               kol_c += 1
    new_list.append(kol_a)
    new_list.append(kol_g)
    new_list.append(kol_t)
    new_list.append(kol_c)
    return new_list

print("В нашей последовательности количесвто A, G, T, C равно:")
print(f(DNA_Seq))

В нашей последовательности количесвто A, G, T, C равно:
[21, 18, 18, 11]